<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <group title="Toggles">
        <field title="HideHighwayNames_Desc">
            <checkbox isChecked="HideHighwayNames" />
        </field>
        <field title="HideRoadNames_Desc">
            <checkbox isChecked="HideRoadNames" />
        </field>
    </group>
</settings>